@font-face {
  font-family: 'Product Sans1';
  src: url('Product Sans Regular.ttf')  format('truetype'); 
}

@font-face {
  font-family: 'Product Sans2';
  src: url('Product Sans Bold.ttf')  format('truetype'); 
}

html {
	background-color: #202124;
	font-family: 'Product Sans1', sans-serif;
    font-weight: 400;
}

/* Center Div*/
.parent {
  position: relative;
  padding: 280px 0;
}
.searchfield {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Displays Search*/
.search {
	width: 550px;
    height: 48px;
    border-radius: 50px 50px 50px 50px;
    background-color: #131313;
    border-color: #131313;
    outline: none;
    box-shadow: none;
    border-width: 0px;
	color: white;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}
input {
	width: 465px;
	background-color: transparent;
	margin-left: 20px;
	outline: none;
    border-width: 0px;
	color: white;
	font-size: 20px;
	font-family: 'Product Sans1', sans-serif;
	font-weight: 400;
}
button {
	width: 60px;
	height: 48px;
    background-color: transparent;
    outline: none;
    border-width: 0px;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

/* Quicklinks */
.divider {
	border-bottom: 1px solid white;
	margin-bottom: 30px;
}
.quicklinks {
	float:left;
	width: 1200px;
}
.searchfield img {
	height: 36px;
}
.searchfield a {
    line-height: 1.85rem;
}
.daily, .streaming, .custom {
	float:left;
	width: 22.5%;
	margin-right: 40px;
}
.creative {
	float:left;
	width: 22.5%;
}
.link {
	margin-right: 20px;
	float:left;
}
.text {
	text-decoration: none;
	display: flex;
    position: relative;
	line-height: 2.1rem;
	margin-bottom: 15px;
	float:left;
}
.text:active, .text:focus, .text:hover, .text:visited, .text {
	text-decoration: none;
	color: white;	
}
h3 {
	color: white;
	margin-bottom: 10px;
}

/* Displays Time*/
#time {
	color: white;
	font-size: 100px;
	text-align: center; 
	padding-bottom: 80px;
	font-weight: 900;
	font-family: 'Product Sans2', sans-serif;
}